body {
    display:flex;
    background-image:
    linear-gradient(to right,rgb(255,255,255,0.95),rgb(255,255,255,0.95)),
    url(https://kenh14cdn.com/203336854389633024/2021/2/14/photo-1-1613285587164288435364.jpg);
    padding:0;
    background-size: 90%, cover;
    background-repeat: repeat-y, no-repeat;
    background-position: 
    center,
    left 0 top 0;
    background-attachment: absolute;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div {
    word-wrap: break-word;
}
nav{
    display:flex;
    position: bottom;
    width: 100%;
    background-color: rgb(178, 178, 199);
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: fantasy;
    letter-spacing: 1px;
}

nav a{
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 16.66%;
    padding: 5px;
}
nav a:hover{
    background-color: rgb(32, 32, 48);
}
nav a.active{
    background-color: rgb(113, 128, 255);
    color: white
}
table{
    border-spacing:10px;
    text-indent: 5px;
}
th, td{
    padding: 5px;
}
th{
    border: 2px solid rgb(113, 128, 255);
    border-radius: 20px;
    background-color:rgb(113, 128, 255);
    color:white;
}
td{
    border: 2px dotted rgb(136, 177, 255);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 20px;
    text-indent: 5px;
}

tr:hover td{
    background-color:rgb(136, 177, 255);
    color:white;
    }

.content {
    /* background-color: rgb(255, 255, 255,0.95); */
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    top:0;
    left:0;
    position: absolute;
    padding:0;
}
#headbanner {
    position: top;
    width: 100%;
    height: 70%;
}
#synopsis{
    margin:1% 2%;
    font-family: monospace;
    text-align: justify;
    font-size: 17px;
    padding-bottom: 20px;
}
